.project {
  margin: 128px 0;
  display: flex;
  justify-content: space-between;
}
.project:last-of-type .project-date {
  order: 2;
}
.project-date {
  display: flex;
}
.project-date span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--yellow);
  color: #fff;
  width: 50px;
  height: 50px;
  margin-right: -5px;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
}
.project-date span:last-of-type {
  background: var(--blue-dark-100);
  color: var(--gray-50);
}
.project-preview img {
  width: 100%;
}

@media (max-width: 670px) {
  .project {
    /* display: block; */
    flex-direction: column;
  }
}
